{% extends "base.html" %}

{% block content %}


{% for book in all_books %}

    <div class="card">
        <h2><a href="/books/{{ book.id }}">{{ book.title }}</a></h2>
        <p>{{ book.author.first_name }} {{ book.author.last_name }}</p>
        <p>{{ book.publisher }}</p>
        <p>{{ book.publication_date }}</p>
            <form class="delete-form" action="/books/{{book.id}}/delete" method="POST">
                    <button class="btn btn-dark-purple">DELETE</button>
            </form>
    </div>

{% endfor %}
{% endblock %}